<template>
  <div class="home">
    <div class="home__wrap">
      <ul class="home__list">
        <li
          class="home__item"
          v-for="item in data"
          :key="item.id"
          @click="navigateTo(item.to)"
        >
          <img
            :src="require(`@/assets/${item.img}`)"
            alt=""
            class="home__item-img"
          />
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { useRouter } from "vue-router";
import { data } from "../const";
export default {
  setup() {
    const router = useRouter();
    /**
     * methods START
     */

    const navigateTo = (to) => {
      router.push({ path: to });
    };
    /**
     * methods END
     */
    return {
      data,
      navigateTo,
    };
  },
};
</script>

<style lang="scss" scoped>
.home {
  &__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 20%;
    animation: blurFadeIn 30s infinite;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;

      .home {
        &__item-img {
          transform: rotate(90deg);

          &:hover {
            transform: rotate(90deg) scale(1.2);
          }
        }
      }
    }

    &:first-child {
      .home {
        &__item-img {
          transform: rotate(90deg);
          height: 68px;

          &:hover {
            transform: rotate(90deg) scale(1.2);
          }
        }
      }
    }
  }

  &__item-img {
    height: 50px;
    transition: 1s;
  }
}

@keyframes blurFadeIn {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  10% {
    opacity: 1;
    filter: blur(0);
  }
  90% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 0;
    filter: blur(10px);
  }
}
</style>
