<template>
  <div class="trash">
    <div class="trash__wrap">
      <p class="trash__back" @click="toHome(router)">Главная</p>
      <div class="trash__title-wrap">
        <p class="trash__title">Свалка задач</p>
        <button class="trash__clear" @click="onClear">Очистить все</button>
      </div>
      <ul class="trash__list">
        <li
          class="trash__item"
          v-for="(item, index) in trashList"
          :key="item.id"
        >
          <p class="trash__item-index">{{ index + 1 }}</p>
          <div class="trash__item-title-wrap">
            <p class="trash__item-title">
              {{ item.title }}
            </p>
            <p class="trash__item-created-date">
              {{ item.createdDate }}
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { ref, watch } from "vue";
import { toHome } from "../helpers";
import { useRouter } from "vue-router";

export default {
  setup() {
    const router = useRouter();
    /**
     * refs START
     */

    const trashList = ref(JSON.parse(localStorage.getItem("deleted")) || []);
    const isClear = ref(false);

    /**
     * refs END
     */

    /**
     * methods START
     */

    const onClear = () => {
      trashList.value = [];
    };

    /**
     * methods END
     */

    /**
     * watchers START
     */

    watch(trashList, (val) =>
      localStorage.setItem("deleted", JSON.stringify(val))
    );

    /**
     * watchers END
     */

    return { trashList, isClear, router, toHome, onClear };
  },
};
</script>

<style lang="scss" scoped>
.trash {
  padding-top: 200px;
  &__wrap {
    padding: 30px;
    border-radius: 30px;
    background: #fff;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }

  &__back {
    cursor: pointer;
    transition: 0.2s;
    font-size: 20px;
    font-weight: 600;
    &:hover {
      color: #099214;
    }
  }

  &__title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
  }

  &__list {
    margin-top: 20px;
  }

  &__item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label-text {
    margin-left: 8px;
    font-size: 14px;
  }

  &__item-index {
    width: 20px;
  }

  &__item-title-wrap {
    margin-left: 20px;
  }

  &__item-title {
    font-size: 20px;
    font-weight: 600;
    word-break: break-all;
  }

  &__item-created-date {
    font-size: 14px;
    color: grey;
    margin-top: 8px;
  }

  &__clear {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30px;
    padding: 0 20px;
    width: 140px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    transition: 0.2s;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
    outline: none;

    &:hover,
    &:focus {
      border: 1px solid green;
    }

    &.disabled {
      cursor: not-allowed;
      background-color: rgb(235, 227, 227);

      &:hover,
      &:focus {
        border: 1px solid transparent;
      }
    }
  }
}
</style>
