<template>
  <div class="task-manager">
    <div class="task-manager__wrap">
      <p class="task-manager__back" @click="toHome(router)">Главная</p>
      <div class="task-manager__send-wrap">
        <textarea
          class="task-manager__textarea"
          v-model="textValue"
          placeholder="Введите текст"
          @keypress.enter.prevent="addToTaskList"
        />
        <div class="task-manager__actions">
          <div class="task-manager__delete-wrap" v-if="selectedTaskList.length">
            <p class="task-manager__selected">
              {{ selectedTaskList.length }}
            </p>
            <button class="task-manager__delete-btn" @click="deleteTaskByIds">
              <img
                src="@assets/delete.svg"
                alt=""
                class="task-manager__delete-icon"
              />
            </button>
          </div>
          <label class="task-manager__all-checked-label" v-if="taskList.length">
            <input
              type="checkbox"
              v-model="allChecked"
              class="task-manager__all-checked-checkbox"
              @change="onCheckAll"
            />
            <p class="task-manager__all-checked-text">Выбрать все</p>
          </label>

          <button
            class="task-manager__send"
            :class="{ disabled: !textValue }"
            @click="addToTaskList"
          >
            Сохранить
          </button>
        </div>
      </div>

      <ul class="task-manager__task-list">
        <li class="task-item" v-for="(task, index) in taskList" :key="task.id">
          <p class="task-item__index">{{ index + 1 }}</p>
          <div class="task-item__title-wrap" v-if="!task.updated">
            <p class="task-item__title">
              {{ task.title }}
            </p>
            <p class="task-item__created-date">
              {{ task.createdDate }}
            </p>
          </div>
          <textarea
            v-else
            placeholder="Введите текст"
            class="task-item__edit-input"
            @keypress.enter="(event) => updateTask(event, task.id)"
          />
          <button
            class="task-item__edit-btn"
            @click="selectUpdatedTask(task.id)"
          >
            <img
              src="@assets/edit.svg"
              alt=""
              class="task-item__edit-icon"
              v-if="!task.updated"
            />
            <img
              src="@assets/close.png"
              alt=""
              class="task-item__edit-icon"
              v-else
            />
          </button>
          <input
            type="checkbox"
            class="task-item__checkbox"
            v-model="selectedTaskList"
            :value="task"
            @change="onCheckTask"
          />
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { ref, watch } from "vue";
import dayjs from "dayjs";
import _isEqual from "lodash/isEqual";
import _cloneDeep from "lodash/cloneDeep";
import { toHome } from "../helpers";
import { useRouter } from "vue-router";
export default {
  setup() {
    const router = useRouter();
    /**
     * refs START
     */
    const textValue = ref("");
    const taskList = ref(JSON.parse(localStorage.getItem("tasks")) || []);
    const selectedTaskList = ref([]);
    const allChecked = ref(false);
    /**
     * refs END
     */

    /**
     * methods START
     */

    const addToTaskList = () => {
      if (!textValue.value) return;
      taskList.value.unshift({
        id: Math.random(),
        title: textValue.value,
        createdDate: dayjs().format("DD.MM.YYYY, hh:mm"),
        updated: false,
      });

      textValue.value = "";
    };

    const deleteTaskByIds = () => {
      taskList.value = taskList.value.filter(
        (item) => !selectedTaskList.value.some((x) => x.id === item.id)
      );

      localStorage.setItem(
        "deleted",
        JSON.stringify([
          ...selectedTaskList.value,
          ...(JSON.parse(localStorage.getItem("deleted")) || []),
        ])
      );

      selectedTaskList.value = [];
    };

    const selectUpdatedTask = (id) => {
      const findTaskIndex = taskList.value.findIndex((item) => item.id === id);
      if (findTaskIndex !== -1) {
        taskList.value.splice(findTaskIndex, 1, {
          ...taskList.value[findTaskIndex],
          updated: !taskList.value[findTaskIndex].updated,
        });
      }
    };

    const updateTask = (event, id) => {
      const findTaskIndex = taskList.value.findIndex((item) => item.id === id);
      if (findTaskIndex !== -1) {
        taskList.value.splice(findTaskIndex, 1, {
          ...taskList.value[findTaskIndex],
          updated: false,
          title: event.target.value,
          createdDate: dayjs().format("DD.MM.YYYY, hh:mm"),
        });
      }
    };

    const onCheckTask = () => {
      const copySelected = _cloneDeep(selectedTaskList.value);
      const copyTaskList = _cloneDeep(taskList.value);

      if (
        _isEqual(
          copySelected.sort((a, b) => b.id - a.id),
          copyTaskList.sort((a, b) => b.id - a.id)
        )
      ) {
        allChecked.value = true;
      } else if (
        !selectedTaskList.value.length ||
        !_isEqual(
          copySelected.sort((a, b) => b.id - a.id),
          copyTaskList.sort((a, b) => b.id - a.id)
        )
      ) {
        allChecked.value = false;
      }
    };

    const onCheckAll = () => {
      if (allChecked.value) {
        selectedTaskList.value = taskList.value;
      } else {
        selectedTaskList.value = [];
      }
    };
    /**
     * methods END
     */

    /**
     * watchers START
     */

    watch(
      taskList,
      (val) => localStorage.setItem("tasks", JSON.stringify(val)),
      { deep: true }
    );

    watch(selectedTaskList, (val) => {
      if (!val.length) allChecked.value = false;
    });

    /**
     * watchers END
     */
    return {
      textValue,
      taskList,
      selectedTaskList,
      selectUpdatedTask,
      allChecked,
      router,
      toHome,
      addToTaskList,
      deleteTaskByIds,
      updateTask,
      onCheckTask,
      onCheckAll,
    };
  },
};
</script>

<style lang="scss" scoped>
.task-manager {
  padding-top: 200px;
  &__wrap {
    padding: 30px;
    border-radius: 30px;
    background: #fff;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }

  &__back {
    cursor: pointer;
    transition: 0.2s;
    font-size: 20px;
    font-weight: 600;
    &:hover {
      color: #099214;
    }
  }

  &__send-wrap {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
  }

  &__textarea {
    margin-top: 20px;
    background-color: black;
    color: green;
    font-family: "Courier New", monospace;
    font-size: 16px;
    border: none;
    resize: none;
    outline: none;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;
    width: calc(100% - 40px);
    height: 100px;

    &::selection {
      background-color: #fff;
    }

    &:focus {
      outline: none;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &__delete-wrap {
    display: flex;
    align-items: center;
  }

  &__selected {
    font-size: 12px;
    color: grey;
  }

  &__delete-btn {
    width: 30px;
    cursor: pointer;
    margin-right: 8px;
  }

  &__send {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    padding: 0 20px;
    width: 200px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    transition: 0.2s;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
    outline: none;

    &:hover,
    &:focus {
      border: 1px solid green;
    }

    &.disabled {
      cursor: not-allowed;
      background-color: rgb(235, 227, 227);

      &:hover,
      &:focus {
        border: 1px solid transparent;
      }
    }
  }

  &__task-list {
    max-height: 300px;
    width: 100%;
    overflow-y: auto;
    margin-top: 20px;
  }

  &__all-checked-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  &__all-checked-label {
    display: flex;
    align-items: center;
    margin-right: 8px;
    user-select: none;
  }
  &__all-checked-text {
    font-size: 20px;
    color: grey;
    margin-left: 8px;
  }
}

.task-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  &__index {
    width: 20px;
  }

  &__title-wrap {
    margin-left: 20px;
    width: calc(100% - 20px - 95px);
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    word-break: break-all;
  }

  &__created-date {
    font-size: 14px;
    color: grey;
    margin-top: 8px;
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
  }

  &__edit-btn {
    cursor: pointer;
    margin-left: 20px;
  }

  &__edit-icon {
    width: 20px;
  }

  &__edit-input {
    background-color: black;
    color: green;
    font-family: "Courier New", monospace;
    font-size: 16px;
    border: none;
    resize: none;
    outline: none;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;
    height: 50px;
    margin-left: 20px;
    width: calc(100% - 20px - 95px);

    &::selection {
      background-color: #fff;
    }

    &:focus {
      outline: none;
    }
  }
}
</style>
