<template>
  <div class="layout">
    <video autoplay muted loop class="layout__video">
      <source src="@assets/background.mp4" type="video/mp4" />
    </video>
    <div class="layout__wrap">
      <div class="layout__body">
        <router-view></router-view>
      </div>
      <div class="layout__footer">Made by Amangeldiyev Zhambyl</div>
    </div>
  </div>
</template>
<script>
export default {
  setup() {},
};
</script>

<style lang="scss" scoped>
.layout {
  width: 100%;

  &__video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
  }

  &__wrap {
    max-width: 1400px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    height: 100vh;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
  }
}
</style>
