<template>
  <DefaultLayout />
</template>

<script>
import DefaultLayout from "@components/DefaultLayout.vue";
export default {
  name: "App",
  components: { DefaultLayout },
};
</script>

<style lang="scss"></style>
